<mapper namespace="com.buct.acmer.mapper.AtcoderMapper">
    <!--  AtcoderMapper.xml  -->
    <select id="asc" resultMap="BaseResultMap">
        SELECT * FROM atcoder ORDER BY ac_rank ASC
    </select>

    <select id="desc" resultMap="BaseResultMap">
        SELECT * FROM atcoder ORDER BY ac_rank DESC
    </select>
</mapper>